@import 'colours';

$HeaderTitleBrush: $Orange;
$HeaderBackgroundBrush: $White2;
$LayoutBackgroundBrush: $White1;
$LayoutContentBackgroundBrush: $White2;
$ButtonBackground: $Navy;
$ButtonHover: $Orange;
$ButtonActiveLink: $Orange;