$StandardMargin: 5px;
$StandardLargeMargin: 10px;
$StandardBorderRadius: 5px;

$HeaderHeight: 50px;
$FooterHeight: 20px;
$ButtonHeight: 25px;
$ButtonWidth: 80px;

$TabletBreakpoint: 768px;
$MobileBreakpoint: 480px;