@import 'variables';
@import 'brushes';
@import 'responsive-mixins';

.header {
    height: $HeaderHeight;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid black;
    background: $HeaderBackgroundBrush;
    padding-left: $StandardLargeMargin;
    padding-right: $StandardLargeMargin;

    & > .header-title {
        grid-column: 1;

        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        margin-right: $StandardLargeMargin;
        font-weight: bold;
        color: $HeaderTitleBrush;
        font-size: 21px;
        user-select: none;
        cursor: pointer;

        & > .header-title-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: $StandardLargeMargin;
        }
    }

    & > .header-quick-nav {
        grid-column: 2;

        display: flex;
        justify-content: center;

        & > .header-quick-nav-button {
            margin-right: $StandardMargin;
        }
    }

    & > .source-code {
        grid-column: 3;
    }

    @include mobile-down {
        & > .header-title {
            display: none;
        }

        & > .header-quick-nav {
            grid-column: 1;
        }  
    }

    @include tablet-down {        
        & > .source-code {
            display: none;
        }
    }
}