@import 'brushes';
@import 'variables';

.image-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    & > .image-container-image {
        // border: 10px solid $BoxBorderColour;
        box-shadow: 0 8px 15px 3px rgba(0, 0, 0, 0.17);
        overflow: hidden;
        border-radius: 100%;
    }

    & > .image-container-title {
        font-weight: bold;
        margin-top: $StandardExtraLargeMargin;
    }

    & > .image-container-description {
        margin-top: $StandardMargin;
        overflow: hidden;
    }
}