@import 'list-mixins';
@import 'responsive-mixins';

.index {
    $item-width: 200px;
    $item-spacing: 50px;

    & > .index-list {
        @include list($item-width, $item-spacing);

        justify-content: space-evenly;
        padding: $StandardLargeMargin;
    }

    & > .index-introduction {
        text-align: center;
    }

    @include tablet-down {
        & > .index-list {
            @include list(calc(#{$item-width} / 2), calc(#{$item-spacing} / 2));
        }
    }

    @include mobile-down {
        & > .index-list {
            display: none;
        }
    }
}