@import 'list-mixins';

.index {
    & > .index-list {
        $item-width: 200px;
        $item-spacing: 50px;

        @include list($item-width, $item-spacing);

        justify-content: space-evenly;
        padding: $StandardLargeMargin;
    }
}